@charset "utf-8";

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	margin:0 auto;
	padding:0;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
}

.clear {
	clear: both;
}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#top {
	background: #F3F3F3;
}
.t-header {
	width: 950px;
	margin: auto;
	overflow: auto;
}
.t-header * {
	list-style: none !important;
}
.region-t-header {}
.region-t-header .block-menu {
	float: left;
	width: 400px;
}
.region-t-header .block-menu li {
	float: left;
}
.region-t-header .block-menu li a {
	display: block;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
.region-t-header .block-menu li:first-child a {
	color: #006FBA;
}
.region-t-header .block-menu li:nth-child(2) a {

}
.region-t-header .block-menu li:nth-child(3) a {
	color: #6E9A34;
}
.region-t-header .block-menu li:nth-child(4) a {
	color: #F68B1F;
}
.region-t-header .block-user {
	display: none;
}

/**/
#content-wrapper {
	width: 950px;
	padding: 10px;
	margin: auto;
}